ScheduleMeeting.json
{
  "name": "ScheduleMeeting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d5f616b-4b2a-4efe-94ce-fea5231a13df",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        192
      ],
      "id": "caac2ab3-2669-42a6-933f-5aa99e4a6fc9",
      "name": "Webhook",
      "webhookId": "7d5f616b-4b2a-4efe-94ce-fea5231a13df"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -992,
        192
      ],
      "id": "7357e5d8-d9cb-4725-8027-a59ed4b64327",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Book the users specified meeting using the ‘Calendar’ tool and the provided (drag date from webhook here) and (drag time of webhook here)\n\nThe meeting will last for only 30 minutes.\n\n{{ $json.currentDate }}\n{{ $now }}",
        "options": {
          "systemMessage": "Configure the output to have the following structure:\n1. Success Message\n2. ⁠ Confirmed Meeting date and time\n\nExample:\nThe meeting has been successfully scheduled for August 27th, 2025, from 2:00pm to 2:30pm"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -784,
        192
      ],
      "id": "474470c1-391a-4f41-9976-eb8940bf1dd5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        192
      ],
      "id": "8834fade-1bac-4ff8-b573-7f5089fb12f7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -928,
        400
      ],
      "id": "8c4dbf62-84c8-4bed-9b28-a595d1f9e160",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PgyaQi1ppuqDfHgO",
          "name": "Udo API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -736,
        416
      ],
      "id": "c7eeada8-652e-4cfd-9cf0-2e77ac83c706",
      "name": "Think"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "trendhubtrendhub@gmail.com",
          "mode": "list",
          "cachedResultName": "trendhubtrendhub@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -528,
        400
      ],
      "id": "8b5e3af3-7b5a-4a82-b455-6c308098a4a4",
      "name": "Get availability in a calendar in Google Calendar"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e0d346d-261f-41a9-a7c4-02273ab840d2",
  "meta": {
    "instanceId": "0198691b786ad8b23d6ef796e3f23dd6c1f7db5cf754bbe74e3869a0cbccab7d"
  },
  "id": "gSwHVzQ3IHZiPh7R",
  "tags": []
}